.HeroSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
  width: 100%;
}

.HeroSectionActions {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.HeroSectionTitle {
  color: var(--color-accent);
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  margin: 0;
}

.HeroSectionSlogan {
  font-size: 1.3rem;
  color: white;
  line-height: 1.5;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.HeroSectionLink {
  background-color: var(--color-accent);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  display: block;
  padding: 1.5rem;
}

.HeroSectionLinkCTA {
  color: #fff;
  display: block;
  padding: 1.5rem;
}

.HeroSectionLink:active,
.HeroSectionLink:visited {
  color: var(--color-primary);
}

.HeroSectionLink,
.HeroSectionLinkCTA {
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  display: block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.HeroSectionLinkCTA {
  background: var(--color-primary);
}

.HeroSectionLink:active,
.HeroSectionLink:visited {
  color: var(--color-primary);
}

.HeroSectionLinkCTA:hover {
  background-color: var(--color-secondary);
  transition: background 0.3s ease;
}

@media screen and (min-width: 700px) {
  .HeroSectionActions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    width: 70%;
  }
}
