.PlaceCard {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.PlaceCardBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  padding: 0.5rem;
}

.PlaceImage {
  margin: 0;
  height: 10rem;
  width: 100%;
}

.PlaceLinkCTA {
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background: var(--color-primary);
  display: block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.PlaceLinkCTA:hover {
  background-color: var(--color-secondary);
  transition: background 0.3s ease;
}

.PlaceName {
  color: var(--color-primary);
  font-family: "Poiret One", cursive;
  font-size: 1.75rem;
  margin: 0;
}

@media screen and (min-width: 450px) {
  .PlaceDescription {
    height: 9rem;
  }

  .PlaceName {
    height: 2.5rem;
  }
}
