.NewsletterSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
}

.NewsletterSectionDescription {
  text-align: center;
}

.NewsletterSectionTitle {
  color: var(--color-primary);
  display: block;
  font-family: "Kaushan Script", cursive;
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .NewsletterSection {
    margin: 0 auto;
    width: 40%;
  }
}
