.BrandNavApp {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.BrandNavAppLink {
  align-items: center;
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.8rem;
  text-decoration: none;
}

.BrandNavAppLink:active,
.BrandNavAppLink:visited {
  color: var(--color-primary);
}

.brandNavBtn {
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  .brandNavBtn {
    display: none;
  }
}
